body {
    padding: 20px;
    width: 100%;
    color: #05668d;
}

.box {
    display: block;
    padding: 20px;
    border: 1px solid #50d8d7;
    border-radius: 10px;
    width: 70%;
}

h1 {
    font-size: 40px;
    margin: 20px 0 20px 0;
    font-weight: 300;
    color: #79dbac;
}

.searchInput {
    background-color: #b6e2d683;
    border: 1px solid #50d8d7;
    border-radius: 10px;
    width: 60%;
    height: 50px;
}

button {
    background-color: #3ebcc5;
    border: 1px solid #2b9fb2;
    width: 25%;
    height: 50px;
    color: #ffffff;
}

button:hover {
    background-color: #ffffff;
    color: #3ebcc5;
}

.searchCityButton {
    margin-left: 10px;
    border-radius: 30px;
}

.dateContainer {
    margin-top: -20px;
}

.currentTempInfo {
    text-align: center;
    border: 2px solid #50d8d7;
    border-radius: 10px;
    color: #05668d;
    background-color: #b6e2d636;
}

.currentCityName {
    font-size: 40px;
    font-weight: 200;
}

.currentTemp {
    font-size: 50px;
    font-weight: 300;
}

.currentWeather {
    font-size: 40px;
    color: #fcb97d;
}

.lineTwoButton {
    border-radius: 30px;
    width: 100%;
    margin: 30px 0 30px 0;
}

p {
    font-size: 30px;
    margin: 20px 0 20px 0;
    font-weight: 100;
    color: #79dbac;
}

.otherWeatherInfo {
    font-size: 20px;
    opacity: 70%;
}

.forecast {
    text-align: center;
    font-size: 20px;
    margin: 30px 0 30px 0;
}

.forecastIcon {
    width: 50px;
}

.forecastDays {
    font-size: 40px;
    font-weight: 200;
}

.forecastTemps {
    font-size: 25px;
    font-weight: 200;
}