body {
    color: #e96f87;
    font-family: "Patrick Hand", cursive;
    text-shadow: 20px 10px 10px rgba(128, 128, 128, 0.185);
    background-image: url(/img/cloudsBackground.jpg);
    background-size: cover;
}

h1 {
    font-size: 40px;
    margin: 20px 0 20px 0;
    font-weight: 300;
}

.searchInput {
    background-color: #fff8f593;
    border: 1px solid #e5989b;
    border-radius: 10px;
    width: 66%;
    height: 50px;
    box-shadow: 20px 10px 10px rgba(128, 128, 128, 0.185);
    margin-right: 15px;
    font-size: 30px;
}

button {
    background-color: #fff8f5e0;
    border: 1px solid #e5989b;
    color: #e96f87;
    width: 25%;
    height: 50px;
    box-shadow: 20px 10px 10px rgba(128, 128, 128, 0.185);
    font-size: 25px;
    margin-bottom: 20px;
}

button:hover {
    background-color: #e96f87;
    color: #ffffff;
}

.searchCityButton {
    margin-left: 10px;
    border-radius: 30px;
}

.dateContainer {
    margin-top: -20px;
}

.currentTempInfo {
    text-align: center;
    border: 2px solid #e5989b;
    border-radius: 10px;
    background-color: #fff8f581;
    height: 130px;
    box-shadow: 10px 10px 20px rgba(128, 128, 128, 0.185);
}

.currentCityName {
    font-size: 40px;
    font-weight: 200;
}

.currentTemp {
    font-size: 50px;
    font-weight: 300;
}

.currentWeather {
    font-size: 40px;
}

.lineTwoButton {
    border-radius: 30px;
    width: 100%;
    margin: 30px 0 30px 0;
}

p {
    font-size: 30px;
    margin: 20px 0 20px 0;
    font-weight: 100;
}

.otherWeatherInfo {
    font-size: 20px;
    opacity: 70%;
}

.forecast {
    text-align: center;
    font-size: 20px;
    margin: 30px 0 30px 0;
}

.colForecast {
    border: 1px solid #e96f87;
    border-radius: 10px;
    text-align: center;
    padding: 0px;
    background-color: #fff8f581;
    box-shadow: 20px 10px 15px rgba(128, 128, 128, 0.185);
    height: 300px;
}

.forecastIcon {
    margin-bottom: 30px;
    width: 50px;
}

.forecastDays {
    margin-bottom: 30px;
    font-size: 40px;
    font-weight: 200;
}

.forecastTemps {
    margin-bottom: 30px;
    font-size: 25px;
    font-weight: 200;
}

.linkGit {
    width: 100%;
    text-align: center;
    font-size: 15px;
}